body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 33.333%;
  padding: 14px;
  box-sizing: border-box;
}

.cardInner {
  box-shadow: 0 2px 15px 0.5px rgba(0, 0, 0, 0.1);
}

.card-header img {
  width: 100%;
}

.bgBlue {
  background-color: blue !important;
}

.bgRed {
  background-color: red !important;
}
